<div class="container">
  <div class="content">
    <h1>Techman</h1>
    <a href="#openModal"><button class="btn">Sign In</button></a>
    <a href="#openModal2"><button class="btn">Sign Up</button></a>
    <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
          <h1>Sign In</h1>
          <%= form_tag('/sessions', method: "POST") do %>
            <%= text_field_tag :username,"", :class => "username_login" %>
            <br>
            <%= password_field_tag :password,"", :class => "password_login" %>
            <br>
            <%= submit_tag "Log in", :class => "submit" %>
          <% end %>
        </div>
    </div>
    <div id="openModal2" class="modalDialog2">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h1>Sign Up</h1>
          <%= form_for @user do |f| %>
          <%= f.text_field :username , :class => "username_login"%>
          <br>
          <%= f.password_field :password , :class => "password_login" %>
          <br>
          <%= f.file_field :avatar %>
          <br>
          <%= f.submit "Create An Account", :class => "submit" %>
          <% end %>
        <form>
          Prof pic here
      </div>
    </div>
    <img id="noose" src="/assets/noose.png">
  </div>
</div>
<script type="text/javascript" src="home.js"></script>
